<%= form_with(model: grade) do |form| %>
  <% if grade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
        <% grade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :grade1, style: "display: block" %>
    <%= form.number_field :grade1 %>
  </div>

  <div>
    <%= form.label :grade2, style: "display: block" %>
    <%= form.number_field :grade2 %>
  </div>

  <div>
    <%= form.label :grade3, style: "display: block" %>
    <%= form.number_field :grade3 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
