<div id="<%= dom_id student %>">
  <p>
    <strong>Registration:</strong>
    <%= student.registration %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Dbirth:</strong>
    <%= student.dBirth %>
  </p>

  <p>
    <strong>Guardian:</strong>
    <%= student.guardian %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= student.adress %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= student.year %>
  </p>

</div>
